[submodule "src/modules/LAVIS"]
	path = src/modules/LAVIS
	url = https://github.com/tejas1995/LAVIS.git
[submodule "src/modules/lave"]
	path = src/modules/lave
	url = https://github.com/mair-lab/lave.git
[submodule "src/modules/detectron2"]
	path = src/modules/detectron2
	url = https://github.com/facebookresearch/detectron2.git
